* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 20px;
}

.google-form-link {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.google-form-link:hover {
    background-color: #45a049;
}

.google-form-link::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}

.google-form-link:hover::before {
    width: 100%;
}


.google-form-link {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}