#ourfaculty{
    text-align: center;
}
#bcahead{
    display: flex;
    justify-content: center;
}
.person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    animation: fadeIn 1s ease-in-out;
    width: 40%;
}

.person-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.person-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.person-info {
    font-size: 14px;
    color: #777;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media(max-width:900px){
    #bcahead{
        display: block;
    }
}